
body {
    background-color: #fff3e4 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #333 !important;
    -webkit-font-smoothing: antialiased;
}

#root {
    background-color: #fff3e4;
}

input, textarea, button, select {
    font-family: Arial, Helvetica, sans-serif;
}